the_final_stockbot
*.out

# Database stuff
# just a backup and export file I use to move things back and forth
data.sql 
*.db
*.sqlite*
DOWNLOAD_MODELS/*
*.json
static/*.xml
static/css/tailwind.css

# Stupid Air Puts Things into temp
tmp/*
temp/*

cpu.pprof
cpu.pb.gz
*.gz
*.duckdb

#
node_modules
