<div class="grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-3">
    {{> 'partials/gauge' cardTitle="Total Travelers" value=TotalTravelers Img="/static/img/chat-balloons.png"}}
    {{> 'partials/gauge' cardTitle="Total Trips" value=TotalTrips Img="/static/img/tag.png"}}
    {{> 'partials/gauge' cardTitle="Total Days" value=TotalDays Img="/static/img/book.png"}}
</div>