.tag {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #eaeaea;
    color: #333;
}


.header {
    background-color: #f2f2f2;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-weight: bold;
    text-decoration: none;
    color: #EEE;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: #EEE;
}

.bill-metadata ul {
    columns: 2;
}

#search-results {
    margin-top: 20px;
}


li.rep {
    list-style-image: url("/static/icons/meeting.png");
}

li.sen {
    list-style-image: url("/static/icons/congress.png");
}