.tag {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #eaeaea;
    color: #333;
}


.header {
    background-color: #f2f2f2;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-weight: bold;
    text-decoration: none;
    color: #EEE;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: #EEE;
}


#search-results {
    margin-top: 20px;
}


li.rep {
    list-style-image: url("/static/icons/meeting.png");
}

li.sen {
    list-style-image: url("/static/icons/congress.png");
}

/* div.law {
    border-bottom: 1px solid #ccc;
} */

.member-list {
    columns: 3;
}

/** Adverstisment CSS */
div.ad p {
    text-align: center;
    font-weight: bold;
}

.align-right {
    text-align: right;
}

.horizontal-bar {
    display: flex;
    align-items: center;
}

.bar-segment {
    height: 20px;
    margin-right: 5px;
}

.border-box {
    position: relative;
    padding: 20px;
    border: 2px solid #999;
    box-sizing: border-box;
    border-radius: 10px;
}

.border-text {
    position: absolute;
    top: -10px;
    left: 25%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 0 10px;
    font-size: 18px;
}