<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <p class="text-muted">&copy; 2024 Henry Schmale - Information Gathered From Public Sources. No Guarantee of Accuracy or Completeness</p>
        <a href="/tos" class="text-muted">Terms of Service / Privacy Policy</a>
    </div>
</footer>