<html>

<head>
    <title>{{ Title }}</title>

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <script src="/static/js/htmx.min.js"></script>
</head>