<div class="container mx-auto prose-xl">
    {{> 'partials/title_heading' title="Watch Our Congress! Help Keep Them Clean and Accountable!" }}
    <p>
        There is a constant outflow of bills from congress.
        Most of them innocent enough, but when you put the pieces together you can see posturing and blathering.
        Is this really what our politicans are supposed to do? To act like children or is it to govern and fix the
        problems in our communities?
    </p>
    <p>Now is the time to inform yourself and search by topics. See what was published in the past, and how trends on
        topics have changed.</p>

    <h3>Interesting Bedfellows Plotting Together</h3>
</div>

{{> 'partials/congress-network' }}

<div class="mt-12 container mx-auto">
    <div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-3">

        {{> 'partials/gauge' cardTitle="Total Topics Identified" value=TotalTags Img="/static/img/chat-balloons.png"}}
        {{> 'partials/gauge' cardTitle="Total Tags Applied" value=TotalTopics Img="/static/img/tag.png"}}
        {{> 'partials/gauge' cardTitle="Total Laws and Bills Indexed" value=TotalLaws Img="/static/img/book.png"}}
    </div>
</div>

<hr />

<div class="container mx-auto prose-xl" id="search-section">
    <h3>
        Search Topics &amp; Bills
        <span class="htmx-indicator">
            <img class="inline m-1" src="/static/img/bars.svg" alt="Loading Icon" /> Searching...
        </span>
    </h3>
    <p>Search for the topics most important to you! Also search for the bills that matter to your community by title</p>
    <input class="form-control" style="width:100%" type="search" name="search" value="{{ SearchValue }}"
        placeholder="Begin Typing To Search Tags and Topics..." hx-get="/htmx/topic-search"
        hx-trigger="input changed delay:350ms, search" hx-target="#search-results" hx-indicator=".htmx-indicator">

    <div class="w-11/12 mx-auto" id="search-results"></div>

    <hr />
</div>

<div class="container mx-auto prose-xl">
    <h2>Find out about recent gifted travel</h2>
    <p>
        Find out about the most recent travel that has been gifted to our congress members. This is a great way to see
        who is
        influencing our congress members and how they are being influenced.
    </p>

    <div class="overflow-auto">
        <div hx-get="/htmx/recent-gift-travel" hx-trigger="load"></div>
    </div>
</div>

<div class="container mx-auto prose-xl">
    <h2>View Recent Proposals &amp; Actions by Congress</h2>
    <p>
        View the most recent activities and conversations by various topics. Below we have broken out the most recent
        public
        laws, and
        appropration bills. We also have the most recent bills and resolutions from the House and Senate.
    </p>

    <p>
        Find out what matters congress is discussing and how it fits into your life and even the bigger picture.
    </p>

    <div class="md:columns-3">
        {{> 'partials/law-col' 
            Title="Recent Appropriations" 
            Laws=Approprations 
            Desc="These are the most recent spending bills. How the money flows is where you find the dirt."}}
        {{> 'partials/law-col' Title="Public Laws" 
            Laws=PublicLaws
            Desc="These are the most recent laws that have been passed. These are laws that affect everyone and are not specific to any one group." }}
        {{> 'partials/law-col' Title="House Bills" 
            Laws=House
            Desc="These are the most recent bills that have been proposed in the House."}}

            
        {{> 'partials/law-col' Title="Senate Bills" Laws=Senate
            Desc="These are the most recent bills that have been proposed in the Senate."}}
        {{> 'partials/law-col' Title="House Resolutions" Laws=HouseRes
            Desc="These are the most recent resolutions that have been proposed in the House."}}
        {{> 'partials/law-col' Title="Senate Resolutions" Laws=SenateRes
            Desc="These are the most recent resolutions that have been proposed in the Senate."}}
    </div>
</div>