<div class="prose-xl">
    <h1>Watch Our Congress! Help Keep Them Clean and Accountable!</h1>
    <p>
        There is a constant outflow of bills from congress.
        Most of them innocent enough, but when you put the pieces together you can see posturing and blathering.
        Is this really what our politicans are supposed to do? To act like children or is it to govern and fix the
        problems in our communities?
    </p>
    <p>Now is the time to inform yourself and search by topics. See what was published in the past, and how trends on
        topics have changed.</p>

    <h3>Interesting Bedfellows Plotting Together</h3>
</div>

{{> 'partials/congress-network' }}

<div class="mt-12">
    <div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-3">

        {{> 'partials/gauge' cardTitle="Total Topics Identified" value=TotalTags titleColor="#FF0000"}}
        {{> 'partials/gauge' cardTitle="Total Tags Applied" value=TotalTopics }}
        {{> 'partials/gauge' cardTitle="Total Laws Indexed" value=TotalLaws }}
    </div>
</div>

<hr />

<h3>
    Search Topics &amp; Bills
    <span class="htmx-indicator">
        <img src="/static/img/bars.svg" alt="Loading Icon" /> Searching...
    </span>
</h3>
<p>Search for the topics most important to you! Also search for the bills that matter to your community by title</p>
<input class="form-control" style="width:100%" type="search" name="search" value="{{ SearchValue }}"
    placeholder="Begin Typing To Search Tags and Topics..." hx-get="/htmx/topic-search"
    hx-trigger="input changed delay:350ms, search" hx-target="#search-results" hx-indicator=".htmx-indicator">

<div id="search-results"></div>

<hr />

<h2>View Recent Proposals &amp; Actions by Congress</h2>
<p>
    View the most recent activities and conversations by various topics. Below we have broken out the most recent public
    laws, and
    appropration bills. We also have the most recent bills and resolutions from the House and Senate.
</p>

<p>
    Find out what matters congress is discussing and how it fits into your life and even the bigger picture.
</p>

<div class="md:columns-3 prose-xl">
    {{> 'partials/law-col' Title="Recent Appropriations" Laws=Approprations}}
    {{> 'partials/law-col' Title="Public Laws" Laws=PublicLaws}}
    {{> 'partials/law-col' Title="House Bills" Laws=House}}
    {{> 'partials/law-col' Title="Senate Bills" Laws=Senate}}
    {{> 'partials/law-col' Title="House Resolutions" Laws=HouseRes}}
    {{> 'partials/law-col' Title="Senate Resolutions" Laws=SenateRes}}
</div>


{{!--

<h3>Recent Bills and Laws</h3>
{{> 'partials/law-list' EnableLoad=true}} --}}