<div class="container">
    <h1>Watch Our Congress! Help Keep Them Clean and Accountable!</h1>
    <p>
        There is a constant outflow of bills from congress. 
        Most of them innocent enough, but when you put the pieces together you can see posturing and blathering. 
        Is this really what our politicans are supported to do?
    </p>
    <p>Now is the time to inform yourself and search by topics. See what was published in the past, and how trends on
        topics have changed.</p>

    <h3>Interesting Bedfellows Plotting Together</h3>
    {{> 'partials/congress-network' }}

    <div class="row">
        <div class="col-4">
            {{> 'partials/gauge' title="Total Topics Identified" value=TotalTags titleColor="#FF0000"}}
        </div>
        <div class="col-4">
            {{> 'partials/gauge' title="Total Tags Applied" value=TotalTopics }}
        </div>
        <div class="col-4">
            {{> 'partials/gauge' title="Total Laws Indexed" value=TotalLaws }}
        </div>
    </div>

    <hr />

    <h3>
        Search Topics
        <span class="htmx-indicator">
            <img src="/static/img/bars.svg" /> Searching...
        </span>
    </h3>
    <p>Search for the topics most important to you!</p>
    <form>
    <input class="form-control" style="width:100%" type="search" name="search"
        placeholder="Begin Typing To Search Tags and Topics..." hx-get="/htmx/topic-search"
        hx-trigger="input changed delay:350ms, search" hx-target="#search-results" hx-indicator=".htmx-indicator">
    </form>

    <div id="search-results"></div>

    <hr />

    <h3>Recent Laws</h3>
    {{> 'partials/law-list' EnableLoad=true}}

</div>