<div class="container">
    <h1>Lobbying SQL</h1>


    <div class="row">
        <div class="col-md-6">
            <p>
                On this page you can run limited sql queries to analyize the contributions and filings of various
                lobbyists. Data retrieved from <a href="https://lda.senate.gov">Lobbying Disclosure Act Website</a>,
                and the senate cannot vouch for the results.
                Off to the side you can view the data dictionary of the available tables.
                This page will display the first 250 records of any query executed.
            </p>
            <form hx-post="/lobbying-sql" hx-target="#results" hx-indicator=".htmx-indicator">
                <textarea required id="sql" rows="10" cols="60" name="sql"></textarea>
                <br />
                <button type="submit">Run Query</button>
            </form>
            <div class="col-md-6">
            </div>
            <h2>Tables</h2>

            <ul class="max-w-6xl mx-auto mt-20 divide-y  shadow shadow-blue-600 rounded-xl">
                <li>
                    <details class="group">
                        <summary
                            class="flex items-center gap-3 px-4 py-3 font-medium marker:content-none hover:cursor-pointer">
                            <svg class="w-15 h-5 text-gray-500 transition group-open:rotate-90"
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                                </path>
                            </svg>
                            <h2 class="accordion-header" id="tableOne">
                                contributions_etl - What kind of contributions and how much
                            </h2>
                        </summary>
                        <div class="accordion-body">
                            <p>The extracted and loaded data of the lobbyist contribution filings.
                                Each contribution is unfolded from the original report which could hold many
                                contributions</p>
                            <table class="table-auto border border-slate-500 max-w-xl">
                                <thead>
                                    <tr class="border-b">
                                        <th>Column Name</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>uuid</td>
                                        <td>VARCHAR</td>
                                        <td>UUID of filing report</td>
                                    </tr>
                                    <tr>
                                        <td>registrant_name</td>
                                        <td>VARCHAR</td>
                                        <td>Lobbying Firm Name</td>
                                    </tr>
                                    <tr>
                                        <td>filing_year</td>
                                        <td>INTEGER</td>
                                        <td>Year report filed</td>
                                    </tr>
                                    <tr>
                                        <td>amount</td>
                                        <td>FLOAT</td>
                                        <td>How much contributed?</td>
                                    </tr>
                                    <tr>
                                        <td>honoree_name</td>
                                        <td>VARCHAR</td>
                                        <td>Who benefits? Very dirty human entry</td>

                                    </tr>
                                    <tr>
                                        <td>contribution_type</td>
                                        <td>VARCHAR</td>
                                        <td>Various types of contriubtions</td>
                                    </tr>
                                    <tr>
                                        <td>payee_name</td>
                                        <td>VARCHAR</td>
                                        <td>Person paid</td>
                                    </tr>
                                    <tr>
                                        <td>contribution_date</td>
                                        <td>VARCHAR</td>
                                        <td>Who it honors</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </details>
                    <!-- end filings-etl -->
                </li>
                <li>
                    <details class="group">
                        <summary
                            class="flex items-center gap-3 px-4 py-3 font-medium marker:content-none hover:cursor-pointer">
                            <svg class="w-15 h-5 text-gray-500 transition group-open:rotate-90"
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                                </path>
                            </svg>
                            <h2 class="accordion-header" id="tableTwo">
                                filings_etl - Various lobbyist filings about issues worked
                            </h2>
                        </summary>
                        <div class="accordion-body">
                            <table class="table-auto border border-slate-500 max-w-xl">
                                <thead>
                                    <tr>
                                        <th>Column Name</th>
                                        <th>Type </th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="border">
                                        <td>uuid</td>
                                        <td>BLOB</td>
                                        <td>The UUID of the filing</td>
                                    </tr>
                                    <tr class="border">
                                        <td>filing_year</td>
                                        <td>BIGINT</td>
                                        <td>YES</td>
                                    </tr>
                                    <tr>
                                        <td>filing_type</td>
                                        <td>VARCHAR</td>
                                        <td>Lobbyists typically file reports annually and quarterly. This can also
                                            include
                                            termination and new client filings</td>
                                    </tr>
                                    <tr>
                                        <td>income</td>
                                        <td>VARCHAR</td>
                                        <td>A nullable string of the income made rounded to the nearest 10k</td>
                                    </tr>
                                    <tr>
                                        <td>expenses</td>
                                        <td>VARCHAR</td>
                                        <td>A nullable string of the expenses rounded to the nearest 10k</td>
                                    </tr>
                                    <tr>
                                        <td>reg_name</td>
                                        <td>VARCHAR</td>
                                        <td>The lobbying firm name</td>
                                    </tr>
                                    <tr>
                                        <td>client</td>
                                        <td>VARCHAR</td>
                                        <td>Name of the client</td>
                                    </tr>
                                    <tr>
                                        <td>issue_code_display</td>
                                        <td>VARCHAR</td>
                                        <td>A vague category of the issue</td>
                                    </tr>
                                    <tr>
                                        <td>issue_description</td>
                                        <td>VARCHAR</td>
                                        <td>A long text description of the issues worked by this lobby filing</td>
                                    </tr>
                                    <tr>
                                        <td>foreign_entity_issues</td>
                                        <td>VARCHAR</td>
                                        <td>Is this a foreign entity issue. See like canadian access to highways</td>
                                    </tr>
                                    <tr>
                                        <td>foreign_entity_name</td>
                                        <td>VARCHAR</td>
                                        <td>The name of the foreign entity</td>
                                    </tr>
                                    <tr>
                                        <td>foreign_entity_country</td>
                                        <td>VARCHAR</td>
                                        <td>Country of foreign entity</td>
                                    </tr>
                                    <tr>
                                        <td>foreign_entity_contribution</td>
                                        <td>VARCHAR</td>
                                        <td>Amount contributed by foreign entity</td>
                                    </tr>
                                    <tr>
                                        <td>foreign_entity_ownership_percentage</td>
                                        <td>VARCHAR</td>
                                        <td>Percent ownership by a foreign entity</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </details>
                </li>

            </ul>
        </div>
    </div>



    <div class="row">
        <h1>Results <span class="htmx-indicator">
                <img src="/static/img/bars.svg" alt="Loading Icon" /> Searching...
            </span></h1>
        <div class="col-md-8" id="results"></div>
    </div>

    <script>
        document.querySelector('form').addEventListener('submit', function (e) {
            e.preventDefault();
            document.querySelector('#results').scrollIntoView();
        });
    </script>

</div>