
<div class="container">
    <h1>{{ Title }}</h1>

    <p>Here you can see the years currently available to browse</p>

    <ul>
    {{#each Years }}
        <li>
            <a href="/lobbying/{{this}}">Lobbying Contributions by Type in {{this}}</a>
        </li>
    {{/each}}
    </ul>


</div>