
<div class="prose">
    <h1>{{ Title }}</h1>

    <p>Here you can see the years currently available to browse</p>

    <ul>
    {{#each Years }}
        <li>
            <a href="/lobbying/{{this}}">Lobbying Contributions by Type in {{this}}</a>
        </li>
    {{/each}}
    </ul>

    <p>You can also query the downloaded records yourself using <a href="/lobbying-sql">SQL</a>. We have the lobbying filings and contributions downloaded and available for your query</p>

</div>