<div class="tags">
    {{#each Tags }} 
        <span class="badge {{ CssColor }}">
            <a href="/tag/{{ TagId }}">{{ Name }}</a>
        </span>
    {{/each}}
    {{#unless Tags}}
        <span class="no-tags">No tags available</span>
    {{/unless}}
</div>