<div class="prose-xl">
    <h1>Terms of Service</h1>

    <ol>
        <li>All information on this site is from publically available sources, such as govinfo.gov.</li>
        <li>There is no claim of completeness, accuracy or uptime on this site. Do not depend on this site as your sole
            source of information.</li>
        <li>All use of this site is at your own risk. Use with your full understanding and attempt to understand and use
            this information.</li>
        <li>Do not attempt to overload or DDOS the site</li>
        <li>Do not scrape or republish the information on this site. Go scrape it yourself from the primary sources.
        </li>
        <li>There is AI functionality included in this site. Any information provided by AI may be inaccurate or
            incomplete</li>
    </ol>

    <h1>Privacy Policy</h1>

    <p>
        This site uses various third party analytics programs to track user behavior.
        Your use of this site is at your own risk. Realize that there is no such thing as privacy in this day and age.
    </p>

    <p>
        Your information may be sold to third parties. However there is no user login function, so you don't share real
        PII.
    </p>

    <p>
        This site uses cookies to track user behavior. By using this site you agree to the use of cookies.
    </p>

    <p>
        This site uses Google Analytics to track user behavior. By using this site you agree to the use of Google
        Analytics.
    </p>

    <h1>Attributions and Other Items</h1>

    <h2 class="accordion-header" id="attribution">

        Icon Attribution
    </h2>


    <a href="https://www.flaticon.com/free-icons/congress" title="congress icons">Congress icons created
        by noomtah - Flaticon</a><br />

    <a href="https://www.flaticon.com/free-icons/intro" title="intro icons">Intro icons created by
        Vectors Tank - Flaticon</a>


</div>