<div class="container">
    <ul class="member-list">
        {{#each Members}}
        <li>
            <a href="/congress-member/{{this.BioGuideId}}">{{this.name}}</a>
        </li>
        {{/each}}
    </ul>
</div>

<style>
    .member-list{
        columns: 3;
    }
</style>