<div class="container">
    <h1>{{ Member.Name }}</h1>

    <div class="row">
        <div class="col-md-4">
            <h3>Bio Information</h3>
            Born: {{ formatDate Member.CongressMemberInfo.Bio.Birthday }}
        </div>
        <div class="col-md-8">
            <h3>Terms</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h3>Sponsored</h3>
            {{#each Member.Sponsored }}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{{ Title }}}</h5>
                    </div>
                </div>
            {{/each}}
        </div>    
    </div>

    
</div>

