<div class="container">

<h1>
    Help about Laws and Congress and Other Things
</h1>

<p>
    It's extremely difficult to understand how laws are made and how they are passed. This site is designed to help you understand the process and the laws themselves.
</p>


</div>
