


<div class="container">
    <h1>Watch Our Congress! Help Keep Them Clean and Accountable!</h1>
    <p>
        They pour out so much stuff on a good day that no one in their right mind can keep up. The smallest things can have 
        the largest impacts on our society. A little tarif increase or reduction can have wide rammifications. A new rule can make an 
        industry completely unviable now. Find out what topics are included in every rule and browse the parts that matter to you the ordinary citizen. 
        Inform yourself better than the average citizen with the primary source. Do your own research using the actual primary sources with this AI enhanced site.
    </p>
    <p>Now is the time to inform yourself and search by topics. See what was published in the past, and how trends on topics have changed.</p>

    <div class="row">
        <div class="col-4">
            {{> 'partials/gauge' title="Total Topics Identified" value=TotalTags titleColor="#FF0000"}}
        </div>
        <div class="col-4">
            {{> 'partials/gauge' title="Total Tags Applied" value=TotalTopics }}
        </div>
        <div class="col-4">
            {{> 'partials/gauge' title="Total Laws Indexed" value=TotalLaws }}
        </div>
    </div>

    <h3>
        Search Topics
        <span class="htmx-indicator">
            <img src="/img/bars.svg" /> Searching...
        </span>
    </h3>
    <input class="form-control" type="search" name="search" placeholder="Begin Typing To Search Tags and Topics..."
        hx-get="/htmx/topic-search" hx-trigger="input changed delay:250ms, search" hx-target="#search-results"
        hx-indicator=".htmx-indicator">

    <div id="search-results"></div>
</div>
