<div class="container">
    <h1>{{{ Law.Title }}}</h1>

    <table>
        <tbody>
            <tr>
                <th>Pub Date</th>
                <td>{{ Law.PubDate }}</td>
            </tr>
        </tbody>

    </table>
    
    <pre>{{ LawText }}</pre>
</div>
