<h1>Tag List</h1>

<ul class="tag-list">
{{#each Tags }}
    <li><a href="/tag/{{ ID}}" data-count="{{ Count }}">{{ Name }}</a></li>
{{/each}}
</ul>

<style>
    .tag-list {
        columns: 3;
    }
</style>