{{> 'partials/title_heading' title=Title }}

{{#with BillBlob.bill }}
<table>
    <tr>
        <th>Introduced Date</th>
        <td>{{ formatDate introducedDate }}</td>
    </tr>
    <tr>
        <th>Last Action</th>
        <td>{{ formatDate latestAction.actionDate }}</td>
    </tr>
    <tr>
        <th>Policy Area</th>
        <td>{{ policyArea.name }}</td>
    </tr>
</table>
{{/with}}




