<div class="border-box">
    <span class="border-text">Party Breakdown</span>
    <div class="horizontal-bar">
        {{#each Committee.ComputeParties }}
        <div class="bar-segment" title="{{this.Num}} {{@key}} on this committee"
            style="background-color: {{partyColor @key}}; width: {{this.Percent}}%; height: 20px"></div>
        {{/each}}
    </div>
</div>
