<div class="grid grid-cols-4">
    {{!-- Radio Buttons for House or Senate per bootstrap --}}
    <div class="col">
        <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked
                onchange="setChamber('H')">
            <label class="btn btn-outline-primary" for="btnradio1">House</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
                onchange="setChamber('S')">
            <label class="btn btn-outline-primary" for="btnradio2">Senate</label>
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-text">Congress Person</div>
        <input class="form-control w-80" type="text" id="search" placeholder="Search for your Congress Person">
    </div>
    <div class="input-group">
        <div class="input-group-text">
            <a id="tagLink" href="#" title="Go see the selected topic">Topic</a>
            <span class="htmx-indicator">
                <img src="/static/img/bars.svg" alt="Loading Icon" /> Searching...
            </span>
        </div>
        <input class="form-control w-80" list="topicOptions" type="text" id="cnTopic" placeholder="Search for a topic"
            autocomplete="on" name="search" hx-get="/htmx/tag-datalist" hx-trigger="input changed delay:350ms, search"
            hx-target="#topicOptions" hx-indicator=".htmx-indicator">
        <datalist id="topicOptions">
        </datalist>
    </div>

</div>

<div class="grid xl:grid-cols-4">
    <div class="" id="tooltip">
    </div>
    <div class="col-span-3">
        <div id="container"></div>
    </div>

</div>

<script src="/static/js/d3.v7.min.js?cache-bust={{ CacheBust }}" defer></script>
<script type="module" src="/static/viz-js/congress-network.js?cache-bust={{ CacheBust }}" defer></script>
<script>
    window.onload = () => {
        fetchDataForChamber('H');
        var tagSearch = document.getElementById("cnTopic")
        tagSearch.addEventListener("change", function (event) {
            var datalist = document.getElementById("topicOptions");
            var selectedOption = datalist.querySelector("option[value='" + tagSearch.value + "']");
            selectedTagId = selectedOption.getAttribute("data-id");

            document.getElementById("tagLink").href = "/tag/" + selectedTagId;

            fetchDataForChamber(selectedChamber, selectedTagId);
        });
    }

    var selectedTagId = "";
    var selectedChamber = "H";

    function setChamber(chamber) {
        selectedChamber = chamber;
        // retrieve tag id
        var tagSearch = document.getElementById("cnTopic")
        fetchDataForChamber(selectedChamber, selectedTagId);
    }
</script>

<style>
    #container {
        display: flex;
    }

    #container svg {
        margin: 0 auto;
    }
</style>