<div class="horizontal-bar">
    {{#each Law.ComputeSponsorship }}
    <div class="bar-segment" title="{{this.Num}} {{@key}} sponsor this bill"
        style="background-color: {{partyColor @key}}; width: {{this.Percent}}%;"></div>
    {{/each}}
</div>