
<div class="container">

<h1>Congress Network</h1>

<div id="network"></div>

<script src="/static/js/d3.v7.min.js"></script>
<script src="/static/viz-js/new_network.js"></script>

</div>

<style>
.link {
  stroke: steelblue;
  stroke-opacity: 0.4;
  fill: none;
  pointer-events: none;
}
</style>