{{> 'partials/title_heading' title="Gifted Travel" subtitle="Travel by Party" }}

<p>Travel can be gifted to congress people to learn about new topics or issues affecting their constituients.
    This travel can also be to just go party and see the political equivalent of a time share presentation.
    In other cases especially with international travel it's about foreign aid.</p>

<div class="flex flex-wrap gap-10">
    <div class="w-full sm:w-auto" id="travel-by-party"></div>
    <div class="w-full sm:w-auto" id="days-traveled-by-party"></div>
</div>


<div id="tabs" hx-get="/htmx/travel/who-travels-most/2024" hx-trigger="load delay:100ms" hx-target="#tabs"
    hx-swap="innerHTML"></div>

<script src="/static/js/d3.v7.min.js?cache-bust={{ CacheBust }}"></script>
<script src="/static/viz-js/travel-by-party.js?cache-bust={{ CacheBust }}"></script>